@-moz-document url("about:home"), url("about:newtab") {

body {
  background-color: #000;
  font-family: system-ui;
  font-size: var(--font-size-root);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: var(--newtab-wallpaper-backgroundPosition);
  background-attachment: fixed;
  overflow-y: scroll;
  background-image: url("https://w.wallhaven.cc/full/9o/wallhaven-9orjqw.jpg") !important;
}

.nova-enabled.container {
  container-type: inline-size;
  container-name: outer-grid;
  display: none !important;
  grid-template-columns: var(--side-col-width) var(--content-col-width) var(--side-col-width);
  grid-auto-rows: var(--row-height);
  gap: var(--space-medium);
  justify-content: space-between;
  margin-inline: auto;
  padding-inline: var(--space-xlarge);
}

  .search-handoff-button {
  position: relative;
  background: #000 var(--newtab-search-icon) 16px center no-repeat;
  background-size: var(--size-item-medium);
  padding-inline-start: calc(2 * var(--space-xlarge));
  padding-inline-end: var(--space-small);
  padding-block: 0;
  width: 100%;
  box-shadow: var(--box-shadow-level-3);
  border: var(--content-search-handoff-ui-border-width) solid var(--content-search-handoff-ui-unfocused-border-color);
  border-radius: var(--border-radius-medium);
  color: #808080;
  -moz-context-properties: fill;
  fill: var(--content-search-handoff-ui-fill);

}

:root {
  color-scheme: light;
  --newtab-background-color: #000;
  --newtab-background-color-secondary: #000;
  --newtab-text-primary-color: #808080;
  --newtab-background-card: color-mix(in srgb, var(--color-white) 85%, transparent);
  --newtab-text-topic-label-color: var(--color-violet-70);
  --newtab-text-secondary-text: var(--text-color-deemphasized);
  --newtab-contextual-text-primary-color: light-dark(var(--newtab-text-primary-color), var(--text-color));
  --newtab-primary-action-background: light-dark(var(--color-accent-primary), var(--color-accent-primary));
  --newtab-primary-action-background-pocket: #008078;
  --newtab-text-secondary-color: color-mix(in srgb, var(--newtab-text-primary-color) 70%, transparent);
  --newtab-contextual-text-secondary-color: color-mix(in srgb, var(--newtab-contextual-text-primary-color) 70%, transparent);
  --newtab-weather-background-color: light-dark(rgba(255, 255, 255, 85%), rgba(66, 65, 77, 85%));
  --newtab-element-hover-color: color-mix(in srgb, var(--newtab-background-color) 90%, #000);
  --newtab-element-active-color: color-mix(in srgb, var(--newtab-background-color) 80%, #000);
  --newtab-button-background: var(--button-background-color);
  --newtab-button-focus-background: var(--newtab-button-background);
  --newtab-button-focus-border: var(--focus-outline-color);
  --newtab-button-hover-background: var(--button-background-color-hover);
  --newtab-button-active-background: var(--button-background-color-active);
  --newtab-button-text: var(--button-text-color);
  --newtab-button-static-background: light-dark(#F0F0F4, #2B2A33);
  --newtab-button-static-focus-background: var(--newtab-button-static-background);
  --newtab-button-static-hover-background: light-dark(#000, #52525E);
  --newtab-button-static-active-background: light-dark(#CFCFD8, #5B5B66);
  --newtab-element-secondary-color: color-mix(in srgb, currentColor 5%, transparent);
  --newtab-element-secondary-hover-color: color-mix(in srgb, currentColor 12%, transparent);
  --newtab-element-secondary-active-color: color-mix(in srgb, currentColor 25%, transparent);
  --newtab-primary-element-hover-color: color-mix(in srgb, var(--newtab-primary-action-background) 90%, #000);
  --newtab-primary-element-hover-pocket-color: color-mix(in srgb, var(--newtab-primary-action-background-pocket) 90%, #000);
  --newtab-primary-element-active-color: color-mix(in srgb, var(--newtab-primary-action-background) 80%, #000);
  --newtab-primary-element-text-color: var(--color-white);
  --newtab-primary-action-background-dimmed: color-mix(in srgb, var(--newtab-primary-action-background) 25%, transparent);
  --newtab-primary-action-background-pocket-dimmed: color-mix(in srgb, var(--newtab-primary-action-background-pocket) 25%, transparent);
  --newtab-wordmark-color: light-dark(#20123A, #fbfbfe);
  --newtab-status-success: var(--color-green-50);
  --newtab-status-error: var(--color-red-60);
  --newtab-inner-box-shadow-color: rgba(0, 0, 0, 0.1);
  --newtab-section-card-box-shadow-color: rgba(58, 57, 68, 20%);
  --newtab-overlay-color: color-mix(in srgb, var(--newtab-background-color) 85%, transparent);
  --border-radius-large: 16px;
  --newtab-button-secondary-color: inherit;
}
}


   @-moz-document domain("youtube.com") {

@font-face {
src: url("file://persist/home/ranger/.local/share/fonts/BigBlueTerm437NerdFontMono-Regular.ttf")
}


.ytSearchboxComponentSearchButton {
border: 0px solid transparent;
background-color: #000000;
width: 64px;
border-radius: 0 40px 40px 0;
-moz-box-pack: center;
justify-content: center;
cursor: pointer;
padding: 0;
margin: 0;
color: inherit;
box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0) !important;
}
    
#container {
backdrop-filter: blur(0px);
background: linear-gradient(rgba(0, 0, 0, 0)) !important; 
border-bottom: 0px solid #000000 !important; 
}
    
html:not(#⁠), body>div,body>table,
[role="navigation"], [role="dialog"],
#body-container>div, [aria-expanded="true"]:not(.ytp-button),
[class*="tooltip"]:not(.ytp-tooltip-duration):not(.ytp-tooltip-bg):not(.ytp-tooltip-text-wrapper):not([class*="arrow"]):not(button),[role="menu"], .ytp-popup, .videoAdUiPreSkipButton,
.videoAdUiAdInfoPopup {
background:url(/*[[_]]*/)fixed #000!important;
background-size: cover !important;
}
    
/*search bar*/#masthead-search-terms,
form.channels-search:not(#​) {
border: none !important
} 
    
#masthead-search-terms.gsfe_a {
border: none !important;
} 

#masthead-search-terms.gsfe_b {
border: none !important;
}

:not(textarea):not(input):not([contenteditable]) {
text-shadow:0 0.05em rgba(0,0,0,.0),0 -0.05em rgba(0,0,0,.0),0.05em 0 rgba(0,0,0,.0),-0.05em 0 rgba(0,0,0,.0) !important;
}

:not([class*="video-extras-sparkbar"]):not([class^="ytp-"]):not(.sidebar):not(.video-time):not([class^="html5-"]):not(.yt-uix-button-primary):not(label):not(.toggle):not(.branding-context-container-inner):not(.iv-drawer) {
background-color: transparent !important;
color:/*[[Font]]*/ !important;
}
    
.load-more-button {
background: transparent !important;
}
    
[role="alert"],.content-region,
.yt-uix-checkbox-on-off .checked:before{
display:none !important;
}
    
:not(#​) :link{
color:/*[[Link]]*/ !important;
}
    
:not(#​) :visited{
color:/*[[Visited]]*/ !important;
}
    
:not(#​) select{
background: black !important;
}
    
[href="/"][id*="logo"],
:not(.ytp-volume-slider-handle):not(.yt-uix-playlistlike):before,
.yt-uix-button-icon-material-upload,
.yt-uix-button-icon-bell,
.yt-uix-button-icon-wrapper>.yt-sprite,
.autoplay-info-icon,
.search-button>.yt-uix-button-content,
#appbar-guide-button .yt-uix-button-icon-wrapper,
.yt-uix-button-shelf-slider-pager {
-webkit-filter:invert(1)hue-rotate(180deg);
filter:invert(1)hue-rotate(180deg)
}

.yt-uix-form-input-select,
[class$="container"],
#yt-comments-paginator {
background-image:none!important
}
    
:not(h2):not(button):not(.comment-simplebox-renderer-collapsed-content),
#footer-container button,
.yt-uix-button-shelf-slider-pager {
border:none !important;
}
    
textarea,
[contenteditable="true"],
[type="text"]:not(#masthead-search-term),
[role="menu"]:not(.guide-user-links):not(.ytp-panel-menu),
#footer-container .yt-uix-button-default,
.yt-uix-clickcard-card-visible,
#watch-appbar-playlist,
.comment-simplebox-frame,
body>table {
box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0)!important
}
    
#masthead-search-terms {
box-shadow:none!important
}
     
ytd-watch-metadata[title-headline-xs] h1.ytd-watch-metadata {
color: #b997e1 !important;    
box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0)!important;
text-shadow: 0px 0px 1px rgba(255,255,255,0)!important;
}
    
* {
border: none !important;
box-shadow: none !important;
}
        
.ytSearchboxComponentSuggestionsContainer,
.ytSearchboxComponentSuggestionsContainerDark, .ytSearchboxComponentSuggestionsContainerScrollable {
backdrop-filter: blur(0px) !important;
background: linear-gradient(rgba(0, 0, 0, 0)) !important; 
border-bottom: 0px solid #000000 !important; 
border-radius: 0px 0px 20px 20px;
margin-top: 6px;
}

video {
filter: saturate(100%) contrast(105%) !important;
}
    
img {
filter: saturate(105%) brightness(100%) contrast(105%) !important;
}
    
:not(textarea):not(input):not([contenteditable]) {
text-shadow: none !important;
}


svg {
color: aquamarine !important;
}

yt-formatted-string {
  color: #dcbbbb !important;
}

.ytSearchboxComponentInputBox {
  position: relative;
  -moz-box-align: center;
  align-items: center;
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 40px 0 0 40px;
  margin-left: 32px;
  padding: 0 4px 0 16px;
  display: -moz-box;
  display: flex;
  -moz-box-flex: 1;
  flex: 1;
  cursor: text;


}

  ytd-app {
  background: url('https://cdna.artstation.com/p/assets/images/images/025/789/352/original/pixel-jeff-galaxy-far-far-away.gif') !important;
  object-fit: contain !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center center !important;
  backdrop-filter: brightness(30%) !important;
}

#secondary.ytd-watch-flexy {
  padding-right: var(--ytd-watch-flexy-horizontal-page-margin);
  width: var(--ytd-watch-flexy-sidebar-width);
  min-width: var(--ytd-watch-flexy-sidebar-min-width);
  position: relative;
  backdrop-filter: blur(0px);
  border-radius: 15px;
  padding: 20px !important;
  margin: 10px 0px !important;
  border: 0px solid #000 !important;
}

ytd-watch-flexy[is-two-columns_][is-extra-wide-video_]:not([fixed-panels]) #primary.ytd-watch-flexy, ytd-watch-flexy[is-two-columns_][is-four-three-to-sixteen-nine-video_]:not([fixed-panels]) #primary.ytd-watch-flexy {
  max-width: var(--ytd-watch-flexy-max-player-width);
  min-width: var(--ytd-watch-flexy-min-player-width);
  backdrop-filter: blur(0px);
  margin: 0px;
  padding: 30px !important;
}

html,
body,
ytd-app,
yt-formatted-string,
tp-yt-paper-item,
tp-yt-paper-tab,
tp-yt-paper-button,
yt-chip-cloud-chip-renderer,
#video-title,
#text,
#content,
#author-text,
#channel-name,
#title,
#description,
#subtitle,
#label,
#message,
#input,
input,
textarea,
button,
a,
span,
div {
    font-family: "BigBlueTerm437 Nerd Font Mono" !important;
}


.ytIconWrapperHost.ytd-logo, yt-icon.ytd-logo {
  height: 20px;
  width: 93px;
  padding: 18px 14px 18px 16px;
  color: var(--t7f9b7e1603e20b94);
  -moz-box-flex: 0;
  flex: none;
  display: none;
}

page-manager.ytd-app {
  --ytd-toolbar-offset: var(--ytd-masthead-height,var(--ytd-toolbar-height));
  backdrop-filter: brightness(30%) !important;
}

#container.ytd-masthead {
  height: 56px;
  padding: 0 16px;
  display: flexbox;
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  backdrop-filter: brightness(30%) !important;
}

ytd-watch-flexy[is-two-columns_]:not([full-bleed-player]) #columns.ytd-watch-flexy {
  min-width: calc(var(--ytd-watch-flexy-min-player-height)*var(--ytd-watch-flexy-width-ratio)/var(--ytd-watch-flexy-height-ratio) + var(--ytd-watch-flexy-horizontal-page-margin)*3 + var(--ytd-watch-flexy-sidebar-min-width));
  -moz-box-pack: center;
  justify-content: center;
  backdrop-filter: brightness(30%) !important;
}

ytd-search[has-search-header] {
  padding: 0 24px 16px;
  backdrop-filter: brightness(30%) !important;
}

ytd-mini-guide-renderer.ytd-app {
  position: fixed;
  left: 0;
  top: var(--ytd-masthead-height,var(--ytd-toolbar-height));
  bottom: 0;
  width: var(--ytd-mini-guide-width);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  backdrop-filter: brightness(30%) !important;
}

ytd-rich-grid-renderer {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  --ytd-rich-grid-gutter-margin: 16px;
  --ytd-rich-grid-content-max-width: calc(var(--ytd-rich-grid-items-per-row)*(var(--ytd-rich-grid-item-max-width) + var(--ytd-rich-grid-item-margin)) - var(--ytd-rich-grid-item-margin));
  --ytd-rich-grid-row-margin: 32px;
  backdrop-filter: brightness(30%) !important;
}

ytd-tabbed-page-header.grid-4-columns #page-header.ytd-tabbed-page-header, ytd-tabbed-page-header.grid-4-columns[has-inset-banner] #page-header-banner.ytd-tabbed-page-header {
  padding-right: calc(50% - 428px);
  padding-left: calc(50% - 428px);
  backdrop-filter: brightness(30%) !important;
}

#contentContainer.tp-yt-app-header-layout {
  position: relative;
  z-index: 0;
  backdrop-filter: brightness(30%) !important;
}

ytd-browse[page-subtype="channels"][enable-channel-lockup] {
  --ytd-grid-1-columns-width: 218px;
  --ytd-grid-2-columns-width: 436px;
  --ytd-grid-3-columns-width: 654px;
  --ytd-grid-4-columns-width: 872px;
  --ytd-grid-5-columns-width: 1090px;
  --ytd-grid-6-columns-width: 1308px;
  --ytd-grid-max-width: 1308px;
  backdrop-filter: brightness(30%) !important;
}

ytd-app {
min-height: 1000000vh;
}

.ytSearchboxComponentSuggestionsContainerScrollable {
  padding-top: 8px;
  overflow-y: auto;
  max-height: 80vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  backdrop-filter: blur(10px) !important;
  display: none;
}

ytd-rich-grid-renderer {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  --ytd-rich-grid-gutter-margin: 16px;
  --ytd-rich-grid-content-max-width: calc(var(--ytd-rich-grid-items-per-row)*(var(--ytd-rich-grid-item-max-width) + var(--ytd-rich-grid-item-margin)) - var(--ytd-rich-grid-item-margin));
  --ytd-rich-grid-row-margin: 32px;
  padding-bottom: 1000000vh;
}

.html5-video-player, .ytp-contextmenu {
  -ms-high-contrast-adjust: none;
  forced-color-adjust: none;
  background: rgba(0,0,0,0.30) !important;
}

ytd-watch-flexy[view-transition-enabled]:not([show-engagement-panel-scrim_]) #below.ytd-watch-flexy {
  view-transition-name: metadata;
  backdrop-filter: brightness(30%) !important;
  min-width: 100%;
  margin: 0px -3vw;
  padding: 0px 3vw 0px 3vw;
}

ytd-watch-flexy:not([fixed-panels]) #primary.ytd-watch-flexy {
  min-width: var(--ytd-watch-flexy-min-player-width);
  background: black;
    background-color: black;
  backdrop-filter: brightness(30%) !important;
  margin: 0px;
  padding: 0px 3vw;
}

.html5-video-player, .ytp-contextmenu {
  -ms-high-contrast-adjust: none;
  forced-color-adjust: none;
  background: rgba(0,0,0,0.7) !important;
}

#primary.ytd-watch-flexy {
  padding-right: 0;
  margin-left: 0px !important;
  -moz-box-flex: 1;
  flex: 1;
    flex-basis: 0%;
  flex-basis: 0.000000001px;
  padding: 0px 3vw !important;
}

.html5-main-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  border-radius: 10px !important;
}

.ytLockupMetadataViewModelCompact .ytLockupMetadataViewModelTitle {
  line-height: 2rem;
  font-weight: 500;
  overflow: hidden;
  display: block;
  max-height: 4rem;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  color: #0bf7ff !important;
}

.ytContentMetadataViewModelMetadataText:last-of-type {
  overflow: hidden;
  color: mediumaquamarine !important;
}

.ytContentMetadataViewModelMetadataText {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #f428f9 !important;
}

.ytContentMetadataViewModelDelimiter {
  margin: 0 4px;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #ff546e !important;
}

.ytBadgeShapeText {
  display: block;
  white-space: nowrap;
  color: navajowhite;
}

.ytSearchboxComponentInput {
  padding: 1px 0;
  margin: 0;
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: darkcyan !important;
}


canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
    background-color: transparent;
}

:not([class*="video-extras-sparkbar"]):not([class^="ytp-"]):not(.sidebar):not(.video-time):not([class^="html5-"]):not(.yt-uix-button-primary):not(label):not(.toggle):not(.branding-context-container-inner):not(.iv-drawer) {
  background-color: transparent !important;
  color: !important;
}
:not(textarea):not(input):not([contenteditable]) {
  text-shadow: none !important;
}
:not(h2):not(button):not(.comment-simplebox-renderer-collapsed-content), #footer-container button, .yt-uix-button-shelf-slider-pager {
  border: none !important;
}
:not(textarea):not(input):not([contenteditable]) {
  text-shadow: 0 0.05em rgba(0,0,0,.0),0 -0.05em rgba(0,0,0,.0),0.05em 0 rgba(0,0,0,.0),-0.05em 0 rgba(0,0,0,.0) !important;
}
html, body, ytd-app, yt-formatted-string, tp-yt-paper-item, tp-yt-paper-tab, tp-yt-paper-button, yt-chip-cloud-chip-renderer, #video-title, #text, #content, #author-text, #channel-name, #title, #description, #subtitle, #label, #message, #input, input, textarea, button, a, span, div {
  font-family: "BigBlueTerm437 Nerd Font Mono" !important;
}
* {
  border: none !important;
  box-shadow: none !important;
}
#author-text.yt-simple-endpoint.ytd-comment-view-model {
  color: aquamarine;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.yt-simple-endpoint {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: plum;
}

.ytAttributedStringWhiteSpacePreWrap {
  white-space: pre-wrap;
  color: antiquewhite;
}

yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string {
  color: antiquewhite;
}

.ytAttributedStringLinkInheritColor {
  color: pink !important;
}

.ytSpecButtonShapeNextMono.ytSpecButtonShapeNextTonal {
  color: thistle !important;
}

.ytSpecButtonShapeNextMono.ytSpecButtonShapeNextText {
  color: tomato !important;
}

ytd-comment-engagement-bar {
  color: mediumseagreen !important;
}

ytd-watch-flexy[is-two-columns_]:not([full-bleed-player]) #columns.ytd-watch-flexy {
  min-width: calc(var(--ytd-watch-flexy-min-player-height)*var(--ytd-watch-flexy-width-ratio)/var(--ytd-watch-flexy-height-ratio) + var(--ytd-watch-flexy-horizontal-page-margin)*3 + var(--ytd-watch-flexy-sidebar-min-width));
  -moz-box-pack: center;
  justify-content: center;
  padding: 0vw 5vw;
}

#frosted-glass.with-chipbar.ytd-app {
  background-color: transparent !important;
  backdrop-filter: none !important;
  height: 112px;
}

ytd-feed-filter-chip-bar-renderer,
#chips.ytd-feed-filter-chip-bar-renderer {
  display: none !important;
}

#author-text.yt-simple-endpoint.ytd-comment-view-model {
  margin-right: 4px;
  padding-bottom: 2px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: palegreen !important;
}

.yt-simple-endpoint {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: darkseagreen !important;
}

.ytLockupMetadataViewModelCompact .ytLockupMetadataViewModelTitle {
  line-height: 2rem;
  font-weight: 500;
  white-space: normal;
  color: darkturquoise !important;
}

#content-text.ytd-comment-view-model {
  --yt-endpoint-color: var(--t2d807bb79e75606d);
  --yt-endpoint-hover-color: var(--t2d807bb79e75606d);
  --yt-endpoint-visited-color: var(--t2d807bb79e75606d);
  color: var(--tffc2fd3a644f6275);
  font-family: Roboto,"Arial",sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  line-height: 2rem;
  color: aquamarine !important;
}

.ytThumbnailBottomOverlayViewModelHost {
  display: -moz-box;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  -moz-box-align: end;
  align-items: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
  backdrop-filter: blur(0px) brightness(100%) !important;
  padding: 5px 0px 0px 0px !important;
  margin: 4px !important;
  border-radius: 6px !important;
  border: 1px solid black !important;
}

.ytSpecButtonShapeNextCallToAction.ytSpecButtonShapeNextOutline, .ytSpecButtonShapeNextSizeM, #guide-icon.ytd-masthead, .ytIconWrapperHost.ytd-logo, yt-icon.ytd-logo, ytd-topbar-menu-button-renderer #button.ytd-topbar-menu-button-renderer {
  
  display: none !important;
}

textarea, [contenteditable="true"], [type="text"]:not(#masthead-search-term), [role="menu"]:not(.guide-user-links):not(.ytp-panel-menu), #footer-container .yt-uix-button-default, .yt-uix-clickcard-card-visible, #watch-appbar-playlist, .comment-simplebox-frame, body > table {
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0) !important;
  background-color: black !important;
  border: 1px solid aliceblue !important;
  padding: 6px 15px !important;
  border-radius: 100px !important;
  position: relative;
  top: 10px;
}

.ytSearchboxComponentDesktop .ytSearchboxComponentClearButton {
  display: -moz-box;
  display: flex;
  flex-shrink: 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  height: 40px;
  width: 40px;
  position: relative;
  background: transparent;
    background-color: transparent;
  display: none !important;
}

.ytSearchboxComponentSearchButton {
  border: 1px solid #d3d3d3;
  background-color: #f8f8f8;
  width: 64px;
  border-radius: 0 40px 40px 0;
  -moz-box-pack: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: inherit;
  display: none !important;
}

@media (max-width: 656px) {
  ytd-masthead:not([ai-companion-enabled]) #search-button-narrow.ytd-masthead, ytd-masthead:not([ai-companion-enabled]) #search-button.ytd-masthead {
    display: none;
    margin-right: 0;
  }
}

textarea, [contenteditable="true"], [type="text"]:not(#masthead-search-term), [role="menu"]:not(.guide-user-links):not(.ytp-panel-menu), #footer-container .yt-uix-button-default, .yt-uix-clickcard-card-visible, #watch-appbar-playlist, .comment-simplebox-frame, body > table {
  box-shadow: inset 0px 0px 20px 2px rgba(0,0,255,0.7) !important;
  background-color: rgba(0,0,0,0.6) !important;
  border: 0.1px solid blue !important;
  padding: 6px 15px !important;
  border-radius: 100px !important;
  width: 50vw !important;
  backdrop-filter: blur(10px) !important;
  margin: 5vh 0px !important;
}

.ytp-delhi-modern .ytp-time-contents {
  overflow: hidden;
  backdrop-filter: blur(10px) !important;
}

.ytp-delhi-modern.ytp-delhi-horizontal-volume-controls .ytp-volume-area .ytp-volume-icon {
  padding: 0;
  backdrop-filter: blur(10px) !important;
  border-radius: 100px !important;
}

.ytp-delhi-modern.ytp-delhi-modern-compact-controls .ytp-chrome-controls .ytp-play-button {
  width: var(--yt-delhi-pill-height,48px);
  height: var(--yt-delhi-pill-height,48px);
  border-radius: 50%;
  margin-top: var(--yt-delhi-pill-top-height,12px);
  -webkit-backdrop-filter: var(--yt-frosted-glass-backdrop-filter-override,blur(10px));
  backdrop-filter: blur(10px) !important;
  background: var(--yt-sys-color-baseline--overlay-background-medium-light,rgba(0,0,0,.3));
  text-shadow: 0 0 2px #000;
  padding: 0;
}

.ytp-delhi-modern .ytp-chapter-title.ytp-button {
  -webkit-backdrop-filter: var(--yt-frosted-glass-backdrop-filter-override,blur(16px));
  backdrop-filter: blur(10px) !important;
  background: var(--yt-sys-color-baseline--overlay-background-medium-light,rgba(0,0,0,.3));
  text-shadow: 0 0 2px #000;
  height: var(--yt-delhi-pill-height,48px);
  border-radius: 28px;
  padding: 0 16px;
}

.ytp-delhi-modern .ytp-chrome-controls .ytp-right-controls {
  padding: 0 4px;
  z-index: 59;
  backdrop-filter: blur(10px) !important;
}

.ytThumbnailBottomOverlayViewModelHost {
  display: -moz-box;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-box-align: end;
  align-items: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
}

#columns.ytd-watch-flexy {
  margin: 0px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  padding: 0px 5vw !important;
}

#secondary.ytd-watch-flexy {
  padding-right: var(--ytd-watch-flexy-horizontal-page-margin);
  width: var(--ytd-watch-flexy-sidebar-width);
  min-width: var(--ytd-watch-flexy-sidebar-min-width);
  position: relative;
  backdrop-filter: blur(0px);
  border-radius: 15px;
  padding: 30px 2vw 0px 0px !important;
    padding-right: 2vw;
  margin: 10px 0px !important;
  border: 0px solid #000 !important;
  min-width: 40vw !important;
}

ytd-watch-flexy:not([fixed-panels]) #primary.ytd-watch-flexy {
  max-width: 40vw !important;
}

#primary.ytd-watch-flexy {
  padding-right: 0;
  margin-left: 0px !important;
  -moz-box-flex: 1;
  flex: 1;
  flex-basis: 0%;
  flex-basis: 0.000000001px;
  padding: 0px 30vw !important;
}

