/* ranger097 */
/*@import "/home/ranger/.cache/wal/colors-waybar.css";
@import "/home/ranger/.cache/wal/colors-waybar-rgba.css";
*/

window#waybar {
background: linear-gradient( 0deg, rgba(0,0,0,1), rgba(0,0,0,1) );
border: 0px solid #000000;
border-radius: 5px;
}
 
#tray,
#wireplumber,
#network,
#bluetooth,
#custom-nixos,
#custom-power,
#custom-themes,
#custom-VacuumTube,
#custom-ProtonVpn,
#custom-tor,
#custom-terminal,
#custom-steam,
#custom-web, 
#custom-discord,
#custom-qmmp,
#custom-blender,
#custom-dolphin,
#custom-volume {
padding-top: 3px;
padding-bottom: 3px;
margin: 4px 2px 4px 2px;
font-family: GeistMono NF;
font-size: 13px;
font-weight: 300;
background-color: rgba(15,15,15,1);
color: #89B4F4;
/*box-shadow: -1px 1px 2px rgba(0,0,0,0.8);*/
/*text-shadow: 0px 0px 4px rgba(0,0,0,0.2);*/
border-radius: 10px; 
border: 1px solid rgba(30,30,30,0.5);
transition: all 0.4s ease;
}

#tray:hover,
#wireplumber:hover,
#network:hover,
#bluetooth:hover,
#custom-nixos:hover,
#custom-power:hover,
#custom-themes:hover,
#custom-VacuumTube:hover,
#custom-ProtonVpn:hover,
#custom-tor:hover,
#custom-terminal:hover,
#custom-steam:hover,
#custom-web:hover, 
#custom-discord:hover,
#custom-qmmp:hover,
#custom-blender:hover,
#custom-dolphin:hover,
#custom-volume:hover {
color: #000000;
border: 1px solid rgba(0,0,0,1);
} 

#wireplumber {
padding-right: 5px;
padding-left: 5px;
color: #74c7ec;
}

#wireplumber:hover {
background-color: #74c7ec;
}

#network {
padding-right: 3px;
padding-left: 7px;
color: #89b4fa;
}

#network:hover {
background-color: #89b4fa;
}

#bluetooth {
padding-right: 11px;
padding-left: 9px;
margin-right: 0px;
color: #b4befe;
border-radius: 10px 5px 5px 10px;
}

#bluetooth:hover {
background-color: #b4befe;
}

#custom-themes {
padding-right: 3px;
padding-left: 7px;
color: #f5c2e7;
}

#custom-themes:hover {
background-color: #f5c2e7;
}

#custom-power {
padding-right: 1px;
padding-left: 9px;
color: #f2cdcd;
border-radius: 5px 10px 10px 5px;
}

#custom-power:hover {
background-color: #F2CDCD;
}

#custom-terminal {
padding-right: 11px;
padding-left: 8px;
color: #fab387;
}

#custom-terminal:hover {
background-color: #fab387;
}

#custom-steam {
padding-right: 3px;
padding-left: 7px;
color: #a6e3a1;
}

#custom-steam:hover {
background-color: #a6e3a1;
}

#custom-web {
padding-right: 3px;
padding-left: 7px;
color: #f38ba8;
}

#custom-web:hover {
background-color: #f38ba8;
}

#custom-discord {
padding-right: 4px;
padding-left: 6px;
color: #94e2d5;
}

#custom-discord:hover {
background-color: #94e2d5;
}

#custom-qmmp {
padding-right: 4px;
padding-left: 6px;
color: #cba6f7;
}

#custom-qmmp:hover {
background-color: #cba6f7;
}

#custom-blender {
padding-right: 3px;
padding-left: 7px;
color: #89dceb;
}

#custom-blender:hover {
background-color: #89dceb;
}

#custom-dolphin {
padding-right: 3px;
padding-left: 7px;
color: #f9e2af;
}

#custom-dolphin:hover {
background-color: #f9e2af;
}
