/* ranger097 */
@import "../../.cache/wal/colors-waybar.css";
@import "../../.cache/wal/colors-waybar-rgba.css";

window#waybar {
background: linear-gradient(0deg, #000000, @blurblack );
background: linear-gradient(0deg, #000000 );
/*background-color: @waybar-bg;*/
border-top: 0px solid #000000;
}
 
#tray,
#wireplumber,
#network,
#bluetooth,
#custom-nixos,
#custom-themes,
#custom-power,
#custom-VacuumTube,
#custom-ProtonVpn,
#custom-tor,
#custom-terminal,
#custom-steam,
#custom-web, 
#custom-discord,
#custom-qmmp,
#custom-blender,
#custom-dolphin,
#custom-volume {
padding-top: 3px;
padding-bottom: 3px;
padding-right: 15px;
padding-left: 15px;
margin-top: 1px;
margin-bottom: 1px;
margin-right: 1px;
font-family: GeistMono NF;
font-size: 11px;
font-weight: 400;
background: linear-gradient(rgba(0,0,0,1),@color0);
color: @nice-text;
/*box-shadow: -2px 2px 3px rgba(0,0,0,0.30);
text-shadow: 0px 0px 4px rgba(0,0,0,0.2);*/
}

#bluetooth {
margin-right: 0px;
}

#custom-power {
margin-left: 0px;
}

#custom-spacer {
padding-left: 14px;
padding-right: 14px;
margin-left: 0px;
margin-right: 1px;
background: linear-gradient(rgba(0,0,0,1), @color0);
color: @color6;
margin-top: 1px;
margin-bottom: 1px;
font-family: GeistMono NF;
font-size: 11px;
font-weight: 400;
font-style: italic;
}

#wireplumber {
margin-left: 0px;
}

#custom-power:hover,
#wireplumber:hover,
#custom-tor:hover,
#custom-discord:hover,
#custom-qmmp:hover, 
#network:hover,
#custom-web:hover,
#custom-dolphin:hover,
#custom-themes:hover,
#bluetooth:hover {
color: @color5;
}

