/* ranger097 */
@import "../../.cache/wal/colors-waybar.css";
@import "../../.cache/wal/colors-waybar-rgba.css";

window#waybar {
background: linear-gradient(0deg, #000000, @blurblack );
background: linear-gradient(0deg, rgba(0,0,0,0) );
/*background-color: @waybar-bg;*/
border-top: 0px solid #000000;
}
 
#tray,
#wireplumber,
#network,
#bluetooth,
#custom-nixos,
#custom-themes,
#custom-power,
#custom-VacuumTube,
#custom-ProtonVpn,
#custom-tor,
#custom-terminal,
#custom-steam,
#custom-web, 
#custom-discord,
#custom-qmmp,
#custom-blender,
#custom-dolphin,
#custom-volume {
padding-top: 3px;
padding-bottom: 3px;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 5px;
margin-left: 5px;
font-family: GeistMono NF;
font-size: 15px;
font-weight: 300;
background: linear-gradient(rgba(0,0,0,1),@color0);
color: @color5;
box-shadow: -1px 1px 2px rgba(0,0,0,0.5);
/*text-shadow: 0px 0px 4px rgba(0,0,0,0.2);*/
border: 1px solid #000000;
border-radius: 10px;
}

#custom-spacer {
padding-left: 10px;
padding-right: 10px;
margin-left: 5px;
margin-right: 5px;
background: linear-gradient(rgba(0,0,0,1), @color0);
color: @nice-text;
margin-top: 10px;
margin-bottom: 10px;
font-family: GeistMono NF;
font-size: 12px;
font-weight: 300;
font-style: italic;
border: 1px solid #000000;
box-shadow: -1px 1px 2px rgba(0,0,0,0.5);
border-radius: 10px;
padding-top: 3px;
padding-bottom: 3px;
}

#wireplumber {
padding-right: 5px;
padding-left: 5px;
}

#network {
padding-right: 4px;
padding-left: 6px;
}

#bluetooth {
padding-right: 11px;
padding-left: 9px;
}

#custom-themes {
padding-right: 4px;
padding-left: 6px;
}

#custom-power {
padding-right: 1px;
padding-left: 9px;
}

#custom-terminal {
padding-right: 11px;
padding-left: 8px;
}

#custom-steam {
padding-right: 3px;
padding-left: 7px;
}

#custom-web {
padding-right: 3px;
padding-left: 7px;
}

#custom-discord {
padding-right: 5px;
padding-left: 5px;
}

#custom-qmmp {
padding-right: 5px;
padding-left: 5px;
}

#custom-blender {
padding-right: 3px;
padding-left: 7px;
}

#custom-dolphin {
padding-right: 3px;
padding-left: 7px;
}














#custom-power:hover,
#custom-themes:hover,
#custom-qmmp:hover,
#custom-web:hover,
#custom-terminal:hover,
#custom-dolphin:hover,
#custom-steam:hover,
#custom-discord:hover,
#custom-blender:hover,
#wireplumber:hover,
#network:hover,
#bluetooth:hover {
color: @color4;
background: linear-gradient(rgba(0,0,0,1));
}

