/* ranger097 */

window#waybar {
background-color: rgba(0,0,0,0);
border: 0px solid #000000;
border-radius: 7px;
}

#custom-button1,
#custom-button2,
#custom-button3,
#custom-button4,
#custom-button5,
#custom-button6,
#custom-button7,
#custom-button8,
#custom-button9,
#custom-button10 {
padding-top: 3px;
padding-bottom: 3px;
margin: 0px;
font-family: GeistMono NF;
font-size: 11px;
font-weight: 300;
background-color: black;
transition: all 0.4s ease;
padding-right: 10px;
padding-left: 10px;
color: white;
}

#custom-button1 {
border-radius: 100px 0px 0px 100px;
padding-left: 20px;
margin-left: 5px;
}

#custom-button2,
#custom-button3,
#custom-button4,
#custom-button5,
#custom-button6,
#custom-button7,
#custom-button8,
#custom-button9 {
border-radius: 0px 0px 0px 0px;
}

#custom-button10 {
border-radius: 0px 100px 100px 0px;
margin-right: 5px;
padding-right: 20px;
}

#mpris,
#cpu,
#memory,
#battery,
#clock,
#pulseaudio,
#bluetooth,
#network,
#custom-power,
#custom-themes,
#volume {
padding-top: 3px;
padding-bottom: 3px;
padding-left: 15px;
padding-right: 15px;
margin: 0px 5px;
font-family: GeistMono NF;
font-size: 13px;
font-weight: 300;
background-color: black;
color: white;
text-shadow: 0px 0px 6px rgba(0,0,0,1);
border-radius: 100px; 
}

#bluetooth {
padding-left: 11px;
padding-right: 11px;
}

#network {
padding-left: 9px;
padding-right: 5px;
}

#custom-power {
padding-left: 10px;
padding-right: 4px;
}

#custom-themes {
padding-left: 8.5px;
padding-right: 5.5px;
}

