/* ranger097 */

window#waybar {
background-color: rgba(0,0,0,0);
border: 0px solid #000000;
border-radius: 7px;
}

#mpris {
padding-top: 2px;
padding-bottom: 5px;
padding-left: 35px;
padding-right: 35px;
font-family: GeistMono NF;
font-size: 12px;
font-weight: 300;
background-color: black;
color: white;
border-radius: 0px 0px 100px 100px; 
}


