/* ranger097 */
@import url("/home/ranger/.cache/wal/colors-waybar.css");

window#waybar {
background-color: @background;
border-top: 1px solid #000000;
border-radius: 0px;
}

#custom-button1,
#custom-button2,
#custom-button3,
#custom-button4,
#custom-button5,
#custom-button6,
#custom-button7,
#custom-button8,
#custom-button9,
#custom-button10 {
padding-top: 3px;
padding-bottom: 3px;
margin: 0px;
font-family: GeistMono NF;

