/* ranger097 */
@import "../../.cache/wal/colors-waybar.css";
@import "../../.cache/wal/colors-waybar-rgba.css";

* {
border: none;
border-radius: 0;
padding: 0;
margin: 0;
min-height: 0;
}

window#waybar {
/*background-color: @waybar-bg;*/
background: linear-gradient(rgba(0,0,0,0.0));
/*background-color: @color0;*/
border-bottom: 0px solid #000000;
}

#window, #workspaces,
#clock, #custom-vpn_ip,
#battery, #mpris {
padding-left: 12px;
padding-right: 12px;
padding-top: 7px;
padding-bottom: 7px;
margin-top: 10px;
margin-bottom: 10px;
font-family: BigBlueTerm437 Nerd Font;
font-size: 10px;
font-weight: 400;
background-color: #000000;
color: @color6;
margin-right: 5px;
margin-left:5px;
border-radius: 5px;
border: 1px solid #000000;
box-shadow: -2px 2px 3px rgba(0,0,0,0.5);
text-shadow: none;
}

#window:hover, #mpris:hover,
#clock:hover, #custom-vpn_ip:hover,
#battery:hover {
color: @color0;
background: @color3;
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;    
transition: none;
box-shadow: none;
text-shadow: none;
}

#workspaces button {
padding: 0px;
margin: 0px;
padding-left: 0px;
padding-right: 0px;
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
color: @color4;
}

#workspaces button:hover {
background: none; 
background-color: rgba(0,0,0,0); 
color: @color3; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
}

#workspaces button.active {
background: none; 
background-color: rgba(0,0,0,0);
color: @color3; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
text-shadow: none;
}

#workspaces button.urgent { 
background-color: rgba(0,0,0,0); 
color:#000000; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
text-shadow: none;
}

#mode { 
background-color: rgba(0,0,0,0); 
box-shadow: -2px 3px 3px rgba(0,0,0,0.4);
text-shadow: none;
}

#mode:hover {
background-color: rgba(0,0,0,0);
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
box-shadow: -2px 3px 3px rgba(0,0,0,0.4);
text-shadow: none;
}

#window {
margin-left: 10px;
}

#battery {
margin-right: 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 0px; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0px; }
