/* ranger097 */
/*@import "/home/ranger/.cache/wal/colors-waybar.css";
@import "/home/ranger/.cache/wal/colors-waybar-rgba.css";
*/

* {
border: none;
border-radius: 0;
padding: 0;
margin: 0;
min-height: 0;
}

window#waybar {
background-color: rgba(0,0,0,1);
border-bottom: 0px solid #000000;
border-radius: 5px;
}

#window, #workspaces,
#clock, #custom-vpn_ip,
#battery, #mpris {
padding-left: 6px;
padding-right: 6px;
padding-top: 0px; 
padding-bottom: 0px;
margin-top: 6px;
margin-bottom: 6px;
font-family: Maple Mono NF CN;
font-size: 11px;
font-weight: 300;
background-color: rgba(0,0,0,1);
color: #CDD6F4;
margin-right: 4px;
margin-left: 0px;
}

#mpris {
margin-left: 0px;
margin-right: 0px;
color: #cdd6f4;
background-color: rgba(0,0,0,1);
color: #89B4F4;
font-style: italic;
}

#mpris:hover {
background-color: #cdd6f4;
color: #000000;
}

#workspaces button {
padding: 0px;
margin: 0px;
padding-left: 0px;
padding-right: 0px;
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
color: #89b4fa;
}

#workspaces button:hover {
background: none; 
background-color: rgba(0,0,0,0.0); 
color: #f8e1ae; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
}

#workspaces button.active {
background: none;
background-color: rgba(0,0,0,0);
color: #707070; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
text-shadow: none;
}

#workspaces button.urgent { 
background-color: rgba(0,0,0,0); 
color:#606060; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
text-shadow: none;
}

#mode { 
background-color: rgba(0,0,0,0); 
box-shadow: -2px 3px 3px rgba(0,0,0,0.4);
text-shadow: none;
}

#mode:hover {
background-color: rgba(0,0,0,0);
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
box-shadow: -2px 3px 3px rgba(0,0,0,0.4);
text-shadow: none;
}

#battery {
margin-right: 3px;
border-radius: 10px 5px 5px 10px;
color: #fdccc9;
}

#battery:hover {
background-color: #74c7ec;
color: #000000;
}

#window {
margin-left: 3px;
color: #f9e2af;
border-radius: 5px 0px 0px 5px;
margin-right: 0px;
border-right: 0px solid #000000;
}

#window:hover {
background-color: #f9e2af;
color: #000000;
}

#clock {
color: #f9e2af;
}

#clock:hover {
background-color: #f9e2af;
color: #000000;
}

#custom-vpn_ip {
color: #f38ba8;
border-radius: 5px 10px 10px 5px;
}

#custom-vpn_ip:hover {
background-color: #f38ba8;
color: #000000;
}

#workspaces {
box-shadow: none;
margin-left: 0px;
border-radius: 0px 5px 5px 0px;
border-left: 0px solid #000000;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 0px; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0px; }
