/* ranger097 */
@import "../../.cache/wal/colors-waybar.css";
@import "../../.cache/wal/colors-waybar-rgba.css";

* {
border: none;
border-radius: 0;
padding: 0;
margin: 0;
min-height: 0;
}

window#waybar {
/*background: linear-gradient( 0deg, @blurblack,#000000 );*/
background: linear-gradient( rgba(0,0,0,0) );
/*background-color: @color0;*/
border-bottom: 0px solid #000000;
}

#window, #workspaces,
#clock, #custom-vpn_ip,
#battery, #mpris {
padding-left: 15px;
padding-right: 15px;
padding-top: 2px;
padding-bottom: 5px;
margin-top: 0px;
margin-bottom: 12px;
font-family: GeistMono NF;
font-size: 11px;
font-weight: 300;
background: linear-gradient(@color0, rgba(0,0,0,1));
color: @color5;
margin-right: 0px;
margin-left: 0px;
border-radius: 0px;
border-bottom: 0px solid @blurblack;
box-shadow: -2px 2px 4px rgba(0,0,0,0.5);
text-shadow: none;
}

#custom-vpn_ip {
padding-left: 20px;
border-radius: 0px 0px 0px 50px;
border-left: 1px solid @blurblack;
}

#mpris {
margin-left: 0px;
margin-right: 0px;
color: @color4;
background: linear-gradient(@color0, rgba(0,0,0,1));
padding-left: 30px;
padding-right: 30px;
border-radius: 0px 0px 50px 50px;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
font-style: italic;
}

#window:hover, #mpris:hover,
#clock:hover, #custom-vpn_ip:hover,
#battery:hover {
color: @color4;
background: #000000;
text-shadow: none;
-gtk-icon-shadow: none;    
transition: none;
text-shadow: none;
}

#workspaces button {
padding: 0px;
margin: 0px;
padding-left: 0px;
padding-right: 0px;
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
color: @color4;
}

#workspaces button:hover {
background: none; 
background-color: rgba(0,0,0,0.0); 
color: @color3; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
}

#workspaces button.active {
background: none;
background-color: rgba(0,0,0,0);
color: @color6; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
text-shadow: none;
}

#workspaces button.urgent { 
background-color: rgba(0,0,0,0); 
color:#000000; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
text-shadow: none;
}

#mode { 
background-color: rgba(0,0,0,0); 
box-shadow: -2px 3px 3px rgba(0,0,0,0.4);
text-shadow: none;
}

#mode:hover {
background-color: rgba(0,0,0,0);
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
box-shadow: -2px 3px 3px rgba(0,0,0,0.4);
text-shadow: none;
}

#window {
margin-left: 0px;
}

#battery {
margin-right: 0px;
}

#window {
border-right: 1px solid #000000;
}

#clock {
border-left: 1px solid #000000;
border-right: 1px solid #000000;
}

#custom-vpn_ip {
border-left: 1px solid #000000;

}

#workspaces {
box-shadow: none;
background: linear-gradient(@color0, rgba(0,0,0,1));
border-bottom: 0px solid @blurblack;
border-right: 1px solid #000000;
margin-left: 0px;
padding-right: 17px;
border-radius: 0px 0px 50px 0px;
box-shadow: -2px 2px 4px rgba(0,0,0,0.5);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 0px; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0px; }
