html {
  scroll-behavior: smooth;
  margin: 0px;
}

*::-webkit-scrollbar {
  display: none;
}

* {
-ms-overflow-style: none; 
scrollbar-width: none;    
font-family: Helvetica;
font-weight: 100;
box-sizing: border-box;
font-size: 1em;
}

body {
background-color: #000000;
margin: 0px;
display: flex;
flex-direction: row;
align-items: stretch;
justify-content: stretch;
padding: 0px 1vw 0px 1vw;
overflow: hidden;
gap: 1vw;
}

.anonymous, .gruvbox, 
.catppuccin, .kanagawa, 
.persona, .tokyo, .anime {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
object-fit: contain;
}
 
.anonymous { background-image: url('anon.png'); }
.gruvbox { background-image: url('gruvbox.png'); }
.catppuccin { background-image: url('catppuccin.png'); }
.kanagawa { background-image: url('kanagawa.jpg'); }
.persona { background-image: url('persona.jpg'); }
.tokyo { background-image: url('tokyo.jpg'); }
.anime{ background-image: url('anime.jpg'); }

.hidden {
display: none;
}

.nav-container {
height: 100vh;
margin: 0px 0px 0px 0px;
padding: 20px 0px 20px 0px;
background-color: rgba(0,0,255,0);
display: flex;
flex-direction: column;
align-items: center;
object-fit: contain;
overflow-y: auto;
min-width: 140px;
overflow-x: hidden;
}

.nav-section {
background-color: rgba(20,20,20,0.5);
width: 140px;
min-height: 170px;
box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
border: 1px solid rgba(30,30,30,1);
margin: 0px 10px 0px 10px;
padding: 0px; 
border-radius: 10px;
backdrop-filter: blur(22px);
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
position: relative;
top: 0px;
left: 0px;
z-index: 1;
}

.nav-section2 {
background-color: rgba(20,20,20,0.5);
width: 140px;
min-height: 200px;
box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
border: 1px solid rgba(30,30,30,1);
margin: 10px 0px 10px 0px;
padding: 0px; 
border-radius: 10px;
backdrop-filter: blur(22px);
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
position: relative;
top: 0px;
left: 0px;
z-index: 1;
}

.nav-section3 {
background-color: rgba(20,20,20,0.5);
width: 140px;
min-height: 210px;
box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
border: 1px solid rgba(30,30,30,1);
margin: 0px;
padding: 0px; 
border-radius: 10px;
backdrop-filter: blur(22px);
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
position: relative;
top: 0px;
left: 0px;
z-index: 1;
}

.nav-text {
margin: 0px 0px 0px 20px;
}

a, .nav-text {
background-color: rgba(0,0,0,0);
color: #808080;
border: none;
cursor: pointer;
text-decoration: none;
}

a:hover, .nav-text:hover {
color: #ffffff;
text-shadow: 0px 0px 20px rgba(255,255,255,0.5);
}

.chosen {
color: #ffffff !important;
text-shadow: 0px 0px 20px rgba(255,255,255,0.5) !important;
}

.welcome-article {
background-color: rgba(20,20,20,0.5);
min-height: auto;
box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
border: 1px solid rgba(30,30,30,1);
margin: 0px 0px 10px 0px;
padding: 5px 30px 10px 30px;
border-radius: 10px;
backdrop-filter: blur(22px);
object-fit: contain;
}

main {
padding: 20px 0px 20px 0px;
overflow-y: auto;
height: 100vh;
scroll-behavior: smooth;
background-color: rgba(0,255,0,0);
display: flex;
flex-direction: column;
align-items: stretch;
justify-content: stretch;
object-fit: contain;
width: 100%;
overflow-x: hidden;
}

h2 {
color: #ffffff;
text-shadow: 0px 0px 20px rgba(255,255,255,0.1);
margin-bottom: -10px;
font-size: 1.5em;
}

p {
color: #808080;
text-shadow: 0px 0px 20px rgba(255,255,255,0.1);
}


